

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: #212121;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: #353535;
    border-radius: 0px;
}
